@mixin apartmentOut {
  background-position: #{var(--kings-tour-poi-apartment-x-out)} #{var(--kings-tour-poi-apartment-y-out)};
}

@mixin heroesOut {
  background-position: #{var(--kings-tour-poi-heroes-x-out)} #{var(--kings-tour-poi-heroes-y-out)};
}

@mixin castleOut {
  background-position: #{var(--kings-tour-poi-view-x-out)} #{var(--kings-tour-poi-view-y-out)};
}

@mixin basilicaOut {
  background-position: #{var(--kings-tour-poi-culture-x-out)} #{var(--kings-tour-poi-culture-y-out)};
}

@mixin parliamentOut {
  background-position: #{var(--kings-tour-poi-parliament-x-out)} #{var(--kings-tour-poi-parliament-y-out)};
}

/*
The animation names of the photos are set from Javascript and restart on orientation change.
Thus the ame is needed for the map to keep them in sync
*/
@mixin mapTour {
  from {
    @include apartmentOut();
  }
  5% {
    @include apartmentOut();
  }
  20% {
    @include heroesOut();
  }
  25% {
    @include heroesOut();
  }
  40% {
    @include castleOut();
  }
  45% {
    @include castleOut();
  }
  60% {
    @include parliamentOut();
  }
  65% {
    @include parliamentOut();
  }
  80% {
    @include basilicaOut();
  }
  85% {
    @include basilicaOut();
  }
  to {
    @include apartmentOut();
  }
}

@keyframes mapTourLandscape {
  @include mapTour;
}

@keyframes mapTourPortrait {
  @include mapTour;
}
