@import "/src/style/themes";

.bubble {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  padding: var(--spacing-medium);
  margin: var(--spacing-medium);
  background: theme-var(--color-background-semi-transparent);
  text-align: center;
  justify-content: center;

  transition: all;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

@media (min-aspect-ratio: 2/3) and (min-height: 600px) {
  .bubble {
    padding: var(--spacing-big);
    font-size: large;
  }
}

@media (min-aspect-ratio: 1/1) and (min-height: 600px) {
  .bubble {
    margin: var(--spacing-big);
    font-size: larger;
  }
}

@media (min-aspect-ratio: 4/3) and (min-height: 600px) {
  .bubble {
    font-size: x-large;
  }
}
