.anchor {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

.container {
  position: absolute;
  display: flex;
  width: calc(100dvw - calc(2 * var(--spacing-huge)));
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 var(--spacing-huge);
}
