@import "/src/style/themes";

@keyframes linkAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes linkDisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navigatorLink {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  cursor: pointer;
  pointer-events: all;

  margin: 0;

  background-color: theme-var(--color-background-semi-transparent);
  color: theme-var(--color-main);

  text-decoration: none;
  justify-content: center;
  padding: var(--spacing-medium);

  writing-mode: vertical-lr;
  text-orientation: upright;

  border-color: theme-var(--color-main);
  border-style: solid;
  border-width: 0;

  z-index: 1024;

  animation-duration: var(--timing-fast);
  animation-timing-function: linear;
  animation-name: linkAppear;

  &:before {
    position: absolute;
    top: 50%;
  }

  &.left {
    &:before {
      content: "\27A4";
      left: 0;
      transform: translateY(-50%) rotateZ(180deg);
    }
  }

  &.right {
    &:before {
      content: "\27A4";
      right: 0;
      transform: translateY(-50%);
    }
  }

  &.disabled {
    color: theme-var(--color-100);
    background-color: theme-var(--color-background-50);
    animation-name: linkDisappear;
  }
}

@media(orientation: landscape) {
  .navigatorLink {

    &.left, &.right {
      border-bottom-width: var(--spacing-base);
    }
  }
}

@media(orientation: portrait) {
  .navigatorLink {
    &.left {
      border-right-width: var(--spacing-base);
    }

    &.right {
      border-left-width: var(--spacing-base);
    }
  }
}