@import 'variables';
@import 'mixins';

html {
  --kings-image-map-ratio: 0;
  --kings-image-culture-ratio: 0;
  --kings-image-view-ratio: 0;
  --kings-image-party-ratio: 0;

  --spacing-base: 8px;
  --spacing-medium: calc(var(--spacing-base) * 2);
  --spacing-big: calc(var(--spacing-base) * 8);
  --spacing-huge: calc(var(--spacing-base) * 16);

  &.light {
    @include spread-map($theme-map-light);
  }

  &.dark {
    @include spread-map($theme-map-dark);
  }

  body {
    color: theme-var(--color-main);
    background-color: theme-var(--color-background);
  }
}

