@import "/src/style/themes";
@import "keyframes.map";
@import "keyframes.culture";
@import "keyframes.party";
@import "keyframes.view";

$animation-duration: 40s;

.anchor {
  position: fixed;
  overflow: visible;
  display: block;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  z-index: -1;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;

  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: $animation-duration;
  transform-origin: 50% 50%;

  margin: 0;
  padding: 0;

  opacity: 0;

}

@media (orientation: landscape) {
  .imageMap {
    animation-name: mapLandscape;
  }
  .imageParty {
    animation-name: partyLandscape;
  }
  .imageCulture {
    animation-name: cultureLandscape;
  }
  .imageView {
    animation-name: viewLandscape;
  }
}

@media (orientation: portrait) {
  .imageMap {
    animation-name: mapPortrait;
  }
  .imageParty {
    animation-name: partyPortrait;
  }
  .imageCulture {
    animation-name: culturePortrait;
  }
  .imageView {
    animation-name: viewPortrait;
  }
}
