@import "/src/style/themes";
@import "keyframes.floating.culture";
@import "keyframes.floating.party";
@import "keyframes.floating.view";
@import "keyframes.floating.heroes";

$animation-duration: 20s;

.anchor {
  position: fixed;
  overflow: visible;
  display: block;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  z-index: -1;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;

  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: $animation-duration;
  transform-origin: 50% 50%;

  margin: 0;
  padding: 0;

  opacity: 0;

}

.imageParty {
  background-image: var(--kings-image-party-url);
  animation-name: var(--kings-floating-party-animation-name);
}

.imageCulture {
  background-image: var(--kings-image-culture-url);
  animation-name: var(--kings-floating-culture-animation-name);
}

.imageView {
  background-image: var(--kings-image-view-url);
  animation-name: var(--kings-floating-view-animation-name);
}

.imageHeroes {
  background-image: var(--kings-image-heroes-url);
  animation-name: var(--kings-floating-heroes-animation-name);
}


