@import "/src/style/themes";
@import "keyframes.culture";
@import "keyframes.party";
@import "keyframes.view";
@import "keyframes.heroes";

$animation-duration: 20s;

.anchor {
  position: fixed;
  overflow: visible;
  display: block;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  z-index: -1;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;

  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: $animation-duration;
  transform-origin: 50% 50%;

  margin: 0;
  padding: 0;

  opacity: 0;

}

.imageParty {
  background-image: var(--kings-image-party-url);
}

.imageCulture {
  background-image: var(--kings-image-culture-url);
}

.imageView {
  background-image: var(--kings-image-view-url);
}

.imageHeroes {
  background-image: var(--kings-image-heroes-url);
}


@media (orientation: landscape) {
  .imageParty {
    animation-name: partyLandscape;
  }
  .imageCulture {
    animation-name: cultureLandscape;
  }
  .imageView {
    animation-name: viewLandscape;
  }
  .imageHeroes {
    animation-name: heroesLandscape;
  }
}

@media (orientation: portrait) {
  .imageParty {
    animation-name: partyPortrait;
  }
  .imageCulture {
    animation-name: culturePortrait;
  }
  .imageView {
    animation-name: viewPortrait;
  }
  .imageHeroes {
    animation-name: heroesPortrait;
  }
}
