@keyframes partyLandscape {
  from {
    opacity: 0;
  }
  75% {
    opacity: 0;
    background-position: 60% 40%;
    background-size: calc(120dvw * var(--kings-image-party-ratio)) auto;
    filter: saturate(1);
  }
  77% {
    opacity: 1;
  }
  85% {
    filter: saturate(1.5);
  }
  90% {
    background-position: 35% 60%;
    background-size: calc(110dvw * var(--kings-image-party-ratio)) auto;
    filter: saturate(1.2);
  }
  98% {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-position: 50% 50%;
    background-size: calc(100dvw * var(--kings-image-party-ratio)) auto;
    filter: saturate(.6);
  }
}

@keyframes partyPortrait {
  from {
    opacity: 0;
  }
  75% {
    opacity: 0;
    background-position: 60% 40%;
    background-size: auto 120dvh;
    filter: saturate(1);
  }
  77% {
    opacity: 1;
  }
  85% {
    filter: saturate(1.5);
  }
  90% {
    background-position: 35% 60%;
    background-size: auto 110dvh;
    filter: saturate(1.2);
  }
  98% {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-position: 50% 50%;
    background-size: auto 100dvh;
    filter: saturate(.6);
  }
}
