@keyframes viewFloatingLandscape {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 50% 50%;
    background-size: 100dvw auto;
    filter: grayscale(.6);
  }
  52% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    background-position: 40% 40%;
    background-size: 150dvw auto;
    filter: grayscale(0);
  }
  77% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes viewFloatingPortrait {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 50% 50%;
    background-size: auto 100dvh;
    filter: grayscale(.6);
  }
  52% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    background-position: 40% 40%;
    background-size: auto 150dvh;
    filter: grayscale(0);
  }
  77% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
