@keyframes partyLandscape {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
    background-position: 20% 30%;
    background-size: calc(150vw * var(--kings-image-party-ratio)) auto;
    filter: saturate(1);
  }
  82% {
    opacity: 1;
  }
  86% {
    filter: saturate(1.5);
  }
  89% {
    background-position: 40% 70%;
    background-size: calc(140vw * var(--kings-image-party-ratio)) auto;
    filter: saturate(1.2);
  }
  98% {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-position: 50% 50%;
    background-size: calc(100vw * var(--kings-image-party-ratio)) auto;
    filter: saturate(.6);
  }
}

@keyframes partyPortrait {
  from {
    opacity: 0;
  }
  80% {
    opacity: 0;
    background-position: 20% 30%;
    background-size: auto calc(150vh * var(--kings-image-party-ratio));
    filter: saturate(1);
  }
  82% {
    opacity: 1;
  }
  86% {
    filter: saturate(1.5);
  }
  89% {
    background-position: 40% 70%;
    background-size: auto calc(140vh * var(--kings-image-party-ratio));
    filter: saturate(1.2);
  }
  98% {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-position: 60% 60%;
    background-size: auto calc(100vh * var(--kings-image-party-ratio));
    filter: saturate(.6);
  }
}
