$apartmentXLandscape: 49%;
$apartmentYLandscape: 62%;

$heroesXLandscape: 70%;
$heroesYLandscape: 16.5%;

$castleXLandscape: 17.5%;
$castleYLandscape: 82%;

$basilicaXLandscape: 37.5%;
$basilicaYLandscape: 65%;

$zoomOutLandscape: 100;
$zoomInLandscape: 300;

@mixin apartmentLandscape($zoom) {
  background-position: $apartmentXLandscape $apartmentYLandscape;
  background-size: calc(#{$zoom} * 1dvw * var(--kings-image-map-ratio)) auto;
}

@mixin heroesLandscape($zoom) {
  background-position: $heroesXLandscape $heroesYLandscape;
  background-size: calc(#{$zoom} * 1dvw * var(--kings-image-map-ratio)) auto;
}

@mixin castleLandscape($zoom) {
  background-position: $castleXLandscape $castleYLandscape;
  background-size: calc(#{$zoom} * 1dvw * var(--kings-image-map-ratio)) auto;
}

@mixin basilicaLandscape($zoom) {
  background-position: $basilicaXLandscape $basilicaYLandscape;
  background-size: calc(#{$zoom} * 1dvw * var(--kings-image-map-ratio)) auto;
}

@mixin overviewLandscape($zoom) {
  background-position: $apartmentXLandscape $apartmentYLandscape;
  background-size: calc(#{$zoom} * 1dvw * var(--kings-image-map-ratio)) auto;
}


$apartmentXPortrait: 49%;
$apartmentYPortrait: 64%;

$heroesXPortrait: 67%;
$heroesYPortrait: 10%;

$castleXPortrait: 21%;
$castleYPortrait: 89%;

$basilicaXPortrait: 39%;
$basilicaYPortrait: 68%;

$zoomOutPortrait: 100;
$zoomInPortrait: 300;

@mixin apartmentPortrait($zoom) {
  background-position: $apartmentXPortrait $apartmentYPortrait;
  background-size: auto calc(#{$zoom} * 1dvh);
}

@mixin heroesPortrait($zoom) {
  background-position: $heroesXPortrait $heroesYPortrait;
  background-size: auto calc(#{$zoom} * 1dvh);
}

@mixin castlePortrait($zoom) {
  background-position: $castleXPortrait $castleYPortrait;
  background-size: auto calc(#{$zoom} * 1dvh);
}

@mixin basilicaPortrait($zoom) {
  background-position: $basilicaXPortrait $basilicaYPortrait;
  background-size: auto calc(#{$zoom} * 1dvh);
}

@mixin overviewPortrait($zoom) {
  background-position: $apartmentXPortrait $apartmentYPortrait;
  background-size: auto calc(#{$zoom} * 1dvh);
}


@keyframes mapLandscape {
  from {
    opacity: 0;
    @include apartmentLandscape($zoomInLandscape);
  }
  15% {
    opacity: 0;
    @include apartmentLandscape($zoomInLandscape);
  }
  16% {
    opacity: 1;
    @include apartmentLandscape($zoomInLandscape);
  }
  18% {
    opacity: 1;
    @include apartmentLandscape($zoomInLandscape);
  }
  23% {
    @include apartmentLandscape($zoomOutLandscape);
  }
  25% {
    @include heroesLandscape($zoomOutLandscape);
  }
  30% {
    @include heroesLandscape($zoomInLandscape);
  }
  32% {
    @include heroesLandscape($zoomInLandscape);
  }
  37% {
    @include heroesLandscape($zoomOutLandscape);
  }
  39% {
    @include castleLandscape($zoomOutLandscape);
  }
  44% {
    @include castleLandscape($zoomInLandscape);
  }
  46% {
    @include castleLandscape($zoomInLandscape);
  }
  51% {
    @include castleLandscape($zoomOutLandscape);
  }
  53% {
    @include basilicaLandscape($zoomOutLandscape);
  }
  58% {
    @include basilicaLandscape($zoomInLandscape);
  }
  60% {
    @include basilicaLandscape($zoomInLandscape);
  }
  64% {
    @include basilicaLandscape($zoomOutLandscape);
  }
  64.5% {
    @include apartmentLandscape($zoomOutLandscape);
  }
  70% {
    opacity: 1;
    @include apartmentLandscape($zoomInLandscape);
  }
  71% {
    opacity: 0;
    @include apartmentLandscape($zoomInLandscape);
  }
  to {
    opacity: 0;
    @include apartmentLandscape($zoomInLandscape);
  }
}

@keyframes mapPortrait {
  from {
    opacity: 0;
    @include apartmentPortrait($zoomInPortrait);
  }
  15% {
    opacity: 0;
    @include apartmentPortrait($zoomInPortrait);
  }
  16% {
    opacity: 1;
    @include apartmentPortrait($zoomInPortrait);
  }
  18% {
    opacity: 1;
    @include apartmentPortrait($zoomInPortrait);
  }
  23% {
    @include apartmentPortrait($zoomOutPortrait);
  }
  25% {
    @include heroesPortrait($zoomOutPortrait);
  }
  30% {
    @include heroesPortrait($zoomInPortrait);
  }
  32% {
    @include heroesPortrait($zoomInPortrait);
  }
  37% {
    @include heroesPortrait($zoomOutPortrait);
  }
  39% {
    @include castlePortrait($zoomOutPortrait);
  }
  44% {
    @include castlePortrait($zoomInPortrait);
  }
  46% {
    @include castlePortrait($zoomInPortrait);
  }
  51% {
    @include castlePortrait($zoomOutPortrait);
  }
  53% {
    @include basilicaPortrait($zoomOutPortrait);
  }
  58% {
    @include basilicaPortrait($zoomInPortrait);
  }
  60% {
    @include basilicaPortrait($zoomInPortrait);
  }
  64% {
    @include basilicaPortrait($zoomOutPortrait);
  }
  64.5% {
    @include apartmentPortrait($zoomOutPortrait);
  }
  70% {
    opacity: 1;
    @include apartmentPortrait($zoomInPortrait);
  }
  71% {
    opacity: 0;
    @include apartmentPortrait($zoomInPortrait);
  }
  to {
    opacity: 0;
    @include apartmentPortrait($zoomInPortrait);
  }
}
