@keyframes cultureLandscape {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
    background-position: 25% 50%;
    background-size: calc(200vw * var(--kings-image-culture-ratio)) auto;
  }
  42% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0;
    background-position: 50% 50%;
    background-size: calc(100vw * var(--kings-image-culture-ratio)) auto;
  }
  to {
    opacity: 0;
  }
}

@keyframes culturePortrait {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  42% {
    opacity: 1;
    background-position: 25% 50%;
    background-size: auto calc(200vh * var(--kings-image-culture-ratio));
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0;
    background-position: 50% 50%;
    background-size: auto calc(100vh * var(--kings-image-culture-ratio));
  }
  to {
    opacity: 0;
  }
}
