@keyframes viewLandscape {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 50% 50%;
    background-size: calc(100dvw * var(--kings-image-view-ratio)) auto;
    filter: grayscale(.6);
  }
  52% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    background-position: 40% 40%;
    background-size: calc(150dvw * var(--kings-image-view-ratio)) auto;
    filter: grayscale(0);
  }
  77% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes viewPortrait {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
    background-position: 50% 50%;
    background-size: auto 100dvh;
    filter: grayscale(.6);
  }
  52% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    background-position: 40% 40%;
    background-size: auto 150dvh;
    filter: grayscale(0);
  }
  77% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
